{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/camera.css">
{% endblock %}

{% block content %}
<div class="container-fluid contents">
    <div class="card text-center" style="width: 20rem;">
        <h4>ระบบสแกนใบหน้า</h4>
        <h5 class="text-center">
            <img src="../static/person-bounding-box.svg" alt="" width="150" height="150">
        </h5>
        <div class="card-body">
            <form action="/camera" method="post">
                <button type="submit" class="btn btn-primary" onclick="proceed()" id="camera">เปิดระบบ</button>
                <h3 id="status"></h3>
            </form>
            <script>
                function proceed() {
                    let btn = document.getElementById('camera')
                    let status = document.getElementById('status')
                    if (btn.hidden == false) {
                        btn.hidden = true
                        status.innerText = 'กำลังเปิดกล้อง......'
                    }
                }
            </script>
        </div>
    </div>
</div>
{% endblock %}